h1{
    color:#c034eb;
}
.outside{
    color:#3d34eb;
    font-family:'Ranchers', cursive;
}
.vamps{
    font-family: 'Redressed', cursive;
    color:#34eba8;
}
.kingvon{
    font-family: 'Poppins', sans-serif;
    color:#eb3434;
}
.src{
    
    font-size: 20px;

}
.volleyball{
    font-family: 'Playfair Display', serif;
    color:#eb34a5;
}
